amqp==5.2.0
asgiref==3.7.2
billiard==4.2.0
celery==5.3.6
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
Django==4.1.13
django-celery-results==2.5.1
djongo==1.3.6
dnspython==2.4.2
flower==2.0.1
kombu==5.3.4
prompt-toolkit==3.0.41
PyJWT==2.8.0
pymongo==3.12.3
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3.post1
rapidfuzz==3.6.1
redis==5.0.1
requests==2.31.0
six==1.16.0
sqlparse==0.2.4
tzdata==2023.3
vine==5.1.0
wcwidth==0.2.12
